<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simpleSegue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85347E931E244D4100AD7DEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85347EA71E244D4100AD7DEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85347EB21E244D4200AD7DEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
